div,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,table{ 
	margin:0; 
	padding:0; 
}

input,form,h2 { 
	display:inline; 
}

body { 
	font-family:'Lucida Sans Unicode', 'Lucida Grande'; 
	font-size:15px; 
	line-height:15px; 
	color:#224; 
}

h2 {
	font-style:italic;
	padding:10px;
}

.stream { 
	left:10; 
	top:20; 
	height:250px; 
	padding:20px;
}


.message { 
	left:10; 
	bottom:20; 
	height:25px; 
	overflow:hidden; 
	position:fixed; 
	width:98%; 
	z-index:10; 
	-moz-background-clip:border; 
	-moz-background-inline-policy:continuous; 
	-moz-background-origin:padding; 
	font-size:15px; 
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        -webkit-border-radius: 6px;
}

.style-the-message {
	color: #D2691E;
	padding: 5px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        -webkit-border-radius: 6px;
}
